.chart-container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 10px;
    height: 100%;
}

.chart-box{
    display: flex;
}

.chart-container h2{
    color: var(--primary-bg-color);
    font-size: 24px;
    font-weight: bolder;
    margin: 10px;
}

.bar-chart-container, .pie-chart-container{
    width: 100% !important;
    margin: 10px;
}

#bar-chart, #pie-chart{
    max-height: 350px !important;
    width: 100% !important;

}