@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-bg-color: #3A3A5A;
    --primary-text-color: #FFFFFF;
    --primary-text-color-2: #B3B3B3;
    --primary-link-color: goldenrod;

    --input-field-color: #626288;
    
    --secondary-bg-color: #4D4D6C;
    --secondary-text-color: #777795;
    --secondary-hover-color: red;
    --font: font-family: 'Poppins', sans-serif; 
}