h1{
    color: white;
}
.label{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
}
.input-field-component{
    background-color: #626288;
    height: 40px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0 10px;
    box-shadow: 4px 4px 10px 0 #00000025;
}

.input-field-component::placeholder{
    color: #b3b3b3;
    font-size: 16px;
}