.container{
    width: 100%;
}
.list-container{
    background-color: #3A3A5A;
    padding: 40px;
    width: 100%;
    box-shadow: 5px 5px 20px 0 #00000030;
    border-radius: 20px;
}

.list-view{
    width: 100%;
}

thead, tbody{
    background-color: #4D4D6C;
    color: #FFFFFF;
}
table tbody td, th{
    padding: 7px;
}
table{
    width: 100%;
}

#delete-button{
    color: goldenrod;
    &:hover{
        color: red;
    }
}

#edit-button{
    &:hover{
        color: goldenrod;
    }
}

span{
    cursor: pointer;
    margin: 0 7px;
}

.top-list{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-inline-field{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.input-inline-field label{
    width: 40%;
}

.search-input{
    display: flex;
    align-items: end;
}

.top-list h3{
    white-space: nowrap ;
}

.search-input input{
    width: 330px;
    background-color: #777795;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px #00000025;
    color: #FFFFFFFF;
    padding: 0 10px;
    caret-color: #FFFFFF;
}

.v-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-client-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.add-client-button{
    background-color: #3A3A5A;
    margin: 10px 0;
    border-radius: 20px;
    padding: 3px 40px;
    box-shadow: 5px 5px 20px 0 #00000030;
    font-weight: bold;
    border: 1px solid #3A3A5A;
}

.add-client-button:hover{
    border: 1px goldenrod solid;
    color: goldenrod;
}

.add-client-container{
    width: 100%;
    height: 100%;
    background-color: #3A3A5A;
    padding: 30px;
    box-shadow: 5px 5px 20px 0 #00000030;
    border-radius: 20px;
}

.delete-client-container{
    background-color: #3A3A5A;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px 0 #00000030;
}

.confirm-delete-button{
    display: flex;
    width: 100%;
    justify-content: center;
}

.confirm-delete-button .div-button:first-child button{
    color: red;  
} 

.send-button{
    width: 100%;
}
.send-button .div-button{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-button{
    display: flex;
    justify-content: flex-end;
}

table tbody:nth-child(odd){
    background-color: #626288;
}

thead th{
    font-weight: bolder;
}

tbody td{
    font-size: 14px;
}

thead tr th:last-child{
    border-radius: 0 7px 7px 0;
}

thead tr th:first-child{
    border-radius: 7px 0 0 7px;
}

tbody tr td:last-child{
    border-radius: 0 7px 7px 0;
    text-align: center;
    line-height: 0.5em;
    padding: 7px 0;
}

tbody tr td:first-child{
    border-radius: 7px 0 0 7px;
}

.table-container{
    border-radius: 20px;
}


