.title {
  color: #273A34;
  font-size: 40px;
  font-family: Poly;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  margin-top: 60%; 
}

.wrapper {
  display: flex;
  justify-content: center;
}

.home-titulo {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
}

.tittle-somos{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  font-size: 15px;
  font-weight: lighter;
  color: #273A34;
  text-align: justify; 
  line-height: 1.5; 
  max-width: 700px;
}

.home-img {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 2%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 198px;
  height: 50px;
  font-size: 18px;
}

.whats-logo {
  border-radius: 5px;
  height: 27px;
  width: 27px;
  margin-right: 5px;
}

.solucoes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20%;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 150px;
  color: black;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 20px 0 #00000030;
}

.footer-box {
  display: flex;
  flex-direction: row;
  background-color: #737373;
  color: white;
  justify-content: space-around;
  width: 100vw;
}

.footer-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
  font-weight: 600;
}

h{
  font-size: 20px;
}

p{
  font-size: 20px;
  font-weight: lighter;
}


img{
  border-radius: 10px;
}

.button-solucoes {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 118px;
  height: 40px;
  font-size: 13px;
  margin-bottom: 20px;
}

span{
  cursor: pointer;
}

span:hover {
  color: goldenrod;
}


/* form */

.box-form{
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  height: 60vh; 
  border-radius: 20px;
  background-color:#B3B3B3;
  box-shadow: 5px 5px 20px 0 #00000030;
}

.box-titulo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: white;
  font-size: 20px;
}

.box-imagem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 100px;
}

.tittle-form{
  gap: 2%;
  padding-right: 10px; 
  font-size: 15px;
  font-weight: lighter;
  color: white;
  text-align: justify; 
  line-height: 1.5; 
  max-width: 700px;
  max-height: 300px;
  overflow-y: auto;
}



