@import url('../../global.css');

.v-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-client-container{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px 0 #00000030;
}

.confirm-delete-button{
    display: flex;
    width: 100%;
    justify-content: center;
}

.confirm-delete-button .div-button:first-child button{
    color: var(--secondary-hover-color);  
} 